# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
develop-eggs/
dist/
*.egg-info/

# Virtual environment
venv/
.venv/
env/

# IDE/Editor and OS files
.idea/
.vscode/
.DS_Store

# Environment variables and secrets
.env
.flaskenv
*.log
